html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.indicator{
  background-color:#222222;
  height:90vmin;
}
.gameArea{
  background-color:#666666;
  height:90vmin;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #000000;
  box-shadow: 24;
  color: #ffffff;
  padding: 10vmin 20vmin;
}