#headerContainer {
    background-color: #1D3E6B;
    height: 10vmin;
}

.logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-float infinite 2s ease-in-out;
    }
}

@keyframes logo-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}